html, body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0 0 120px 0; /* 👈 hier */
  font-family: poppins, sans-serif;
  overflow-y: auto;
  background-color: #fffff9;
}
.profilbild {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.profil-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem; /* Abstand nach oben */
}
.profil-header img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}


/* Überschrift */
h1 {
  text-align: center;
  font-size: clamp(26px, 5vw, 36px);
  font-weight: bold;
  color: #002147;
  margin-bottom: 2rem;
}
h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(26px, 4vw, 48px);
}
h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(22px, 3vw, 36px);
}
p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(16px, 2.5vw, 20px);
}

.footer-menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: none;
  background-color: #002147;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0 0.4rem; /* 👈 Weniger Höhe */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 999;
}


.footer-menu a img {
  width: 32px;
  height: 32px;
}
.footer-menu .icon-einladungen img {
  width: 24px;
}

.footer-menu .icon-freunde img {
  width: 26px;
}

/* HERVORGEHOBENES ICON */
.footer-menu .active-icon {
  background-color: #fffff9;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-60%); /* 👈 Weiter nach oben */
}