body {
    background-color: #fffff9;
}
h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(32px, 5vw, 64px);
}
h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
}
h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
}
text {
    color: black;
    font-family: 'Poppins', sans-serif;
}
